@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

html,
body {
  /* Usage of `vh` on Android will include the height of address bar, which is undesired */
  height: 100%;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer base {
  /* noinspection Stylelint */
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
  }
}

@layer utilities {
  .color-scheme-dark {
    color-scheme: dark;
  }
}
